{% extends "partials/layout.njk" %}
{% block tittle %}Circle Answer{% endblock %}
{% block content %}
   A = πr<sup>2</sup><br>
   A = π {{ r }}<sup>2</sup><br>
   A = π {{ r*r }}<br>
   A = {{ a }}<br>
   C = 2πr<br>
   C = π10
   C = 31.41592653589793
{% endblock %}
