{% extends "partials/layout.njk" %}
{% block tittle %}Circle Answer{% endblock %}
{% block content %}

   Area<br>
   A = πr<sup>2</sup><br>
   A = π {{ r }}<sup>2</sup><br>
   A = π {{ r*r }}<br>
   A = {{ a }}<br>


   Circumference<br>
   C = 2πr<br>
   C = π {{ 2*r }}<br>
   C = {{ c }}<br>

   Volume<br>
   V = 4/3πr<sup>3</sup><br>
   V = 4/3π {{ r*r*r }}<sup>3</sup><br>
   V = π {{ 4/3*r*r*r }}<br>
   V = {{ v }}<br>
{% endblock %}
