{% extends "partials/layout.njk" %}
{% block tittle %}Form{% endblock %}
{% block content %}
   <h1>Form</h1>
   <form>
    <label for="fname">First name</label>
      <input id="fname" type="text"> 
   <form>
{% endblock %}
