{% extends "partials/layout.njk"  %}
{% block title %} Ass Movie {% endblock %}
{% block content %}
 <form acrion="/movies/add" method="POST">
    <input type="text" placeholder="Movie Name" name="movie">
    <input type="number" placeholder="Movie year" name="year">
    <textarea name="description" placeholder="Movie description"></textarea>
    <input type="submit" value="Add">
 </form>
{% endblock %}