{% extends "partials/layout.njk"  %}
{% block title %} Home {% endblock %}
{% block content %}

<style>
table, th, td {
    border: 2px solid pink;
}

</style>
<a href="/movies/add">Add</a>
   
<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Year</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for movie in movies %}
        <tr>
             <td> {{movie.id}} </td>
            <td> {{movie.name}} </td>
            <td> {{movie.year}} </td>
        </tr>
        <td>
         <a href="/movies/view?id={{movie.id}}">View</a>
         <a href="/movies/view">Edit</a>
         <a href="/movies/view">Delete</a>
        </td>

        {%endfor%}
    </tbody>
</table>





{% endblock %}